# Databases & logs
*.log*
*.db
*.db-shm
*.db-wal

# HA internals
.storage/
.cloud/
.HA_VERSION
deps/
tts/
image/
backups/

# Secrets
secrets.yaml

# HACS-managed
custom_components/
www/community/

# HA cache
.cache/

# OS junk
*.DS_Store
__pycache__/

# HA runtime
*.lock

# Default blueprints
blueprints/

# Zigbee2MQTT runtime (keep configuration.yaml)
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/database.db
zigbee2mqtt/log/
zigbee2mqtt/state.json

# ESPHome build artifacts (keep device configs)
esphome/.esphome/
